* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2a2a;
}

.nav-bar {
    width: 100%;
    height: 60px;
    background-color: #1a1a1a;
}

.nav-bar h1 {
    float: left;
    margin-left: 10%;
    margin-top: 5px;
    color: white;
}

.nav-links {
    float: right;
    margin-right: 15%;
    margin-top: 20px;
    display: flex;
    gap: 20%;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.featured h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
}

.popular h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
}

.contact h3 {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    padding: 20px;
}

.info p {
    color: white;
    font-size: 20px;
    text-align: center;
}

.form h4 {
    font-size: 25px;
}

.form {
    color: white;
    text-align: center;
}

.form input {
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1a1a1a;
}

.form button {
    background-color: #1a1a1a;
    color: white;
    width: 100px;
    height: 25px;
}

.popular1, .popular2, .popular3 {
    color: white;
    text-align: center;
    flex: 0 1 300px;
    font-size: 25px;
}

.popular1 img, .popular2 img, .popular3 img {
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
}

.popular-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pizza-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pizza1, .pizza2, .pizza3 {
    color: white;
    text-align: center;
    flex: 0 1 300px;
    font-size: 25px;
}

.pizza1 img, .pizza2 img, .pizza3 img {
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
}

.menu-items {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.menu-items .item1, .menu-items .item2, .menu-items .item3, .menu-items .item4, .menu-items .item5 {
    height: 120px;
    background-color: #1a1a1a;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.item1 h4, .item2 h4, .item3 h4, .item4 h4, .item5 {
    color: white;
    padding-left: 20px;
}

.item1 img, .item2 img, .item3 img, .item4 img, .item5 img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 10px;
}

.menu-items h3 {
    color: white;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
}

.footer {
    width: 100%; 
    height: 40px; 
    background-color: #1a1a1a; 
    position: fixed; 
    bottom: 0px; 
    text-align: center; 
    color: white; 
    padding-top: 20px; 
}